Report file directory:  ../logfiles/report
Report filename:        DSOI_report.log

##
## $Id: DSOIReport.config,v 1.1 1997/10/03 10:15:54 jalee3 r05_00_01 $
## $Date:   Apr 07 1999 17:34:28  $
## $Author:   jwschae  $
##
## Purpose: The above parameter are configuration values for the
##   DSOIReport process. Each parameter must be given a value.
##
## Description: This configuration file should reside in the same
##   directory as the DSOIReport executable.
##
##   DSOIReport expects a certain format when reading this file; only
##   the values to the right of the ":" on each line should be modified.
##
