Alarm file directory:               ../logfiles/alarm
Alarm filename:                     DSOI_alarm.log
Noncritical error file directory:   ../logfiles/noncritical
Noncritical error filename:         DSOI_error.log

##
## $Id: DSOILog.config,v 1.1 1997/10/03 10:15:18 jalee3 r05_00_01 $
## $Date:   Apr 07 1999 17:34:22  $
## $Author:   jwschae  $
##
## Purpose: The above parameters are configuration values for the
##   DSOILog process. Each parameter must be given a value.
##
## Description: This configuration file should reside in the same
##   directory as the DSOILog executable.
##
##   DSOILog expects a certain format when reading this file; only
##   the values to the right of the ":" on each line should be
##   modified.
##

